<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.mapper.ReservoirBasicInfoMapper">

    <resultMap id="BaseResultMap" type="com.proj.entity.po.ReservoirBasicInfoPO">
            <id property="reservoirId" column="Reservoir_ID" jdbcType="INTEGER"/>
            <result property="reservoirName" column="Reservoir_Name" jdbcType="VARCHAR"/>
            <result property="location" column="Location" jdbcType="VARCHAR"/>
            <result property="formationType" column="Formation_Type" jdbcType="VARCHAR"/>
            <result property="depth" column="Depth" jdbcType="NUMERIC"/>
            <result property="porosity" column="Porosity" jdbcType="NUMERIC"/>
            <result property="permeability" column="Permeability" jdbcType="NUMERIC"/>
            <result property="reservoirPressure" column="Reservoir_Pressure" jdbcType="NUMERIC"/>
            <result property="oilViscosity" column="Oil_Viscosity" jdbcType="NUMERIC"/>
            <result property="initialOilInPlace" column="Initial_Oil_In_Place" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        Reservoir_ID,Reservoir_Name,Location,
        Formation_Type,Depth,Porosity,
        Permeability,Reservoir_Pressure,Oil_Viscosity,
        Initial_Oil_In_Place
    </sql>
    <insert id="insertReservoirBasicInfo" parameterType="com.proj.entity.po.ReservoirBasicInfoPO">
        INSERT INTO Reservoir_Basic_Info (Reservoir_Name, Location, Formation_Type, Depth, Porosity, Permeability, Reservoir_Pressure, Oil_Viscosity, Initial_Oil_In_Place)
        VALUES (#{reservoirName}, #{location}, #{formationType}, #{depth}, #{porosity}, #{permeability}, #{reservoirPressure}, #{oilViscosity}, #{initialOilInPlace})
    </insert>
    <select id="selectIdByReservoirName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT Reservoir_ID
        FROM Reservoir_Basic_Info
        WHERE Reservoir_Name = #{reservoirName}
    </select>
</mapper>
